.selectColor {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.colorLabel {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  border: 2px #000000 solid;
}

.checkedColorCheckbox {
  box-shadow: 0px 0px 0px 4px #00bfff;
}

/* .colorCheckbox {
  width: 0;
  height: 0;
  visibility: hidden;
} */